<header>
    <h1>
        <a id="home" href="/store">MONGOOSE STORE</a>
        <h3>A little marketplace on the web for your web development educational needs.</h3>
    </h1>
    <a href="./new"><input type="button" value="Add a new Item"></a>
</header>